/* added google fonts */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap");

.yeseva-font {
  font-family: "Yeseva One", serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.lobster-fonts {
  font-family: "Lobster", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common shared style */

.hero-content p,
.btn-primary,
.my-mission-title,
.my-mission-card h5,
p,
.develop-title,
.develop-description,
.community-title,
.community-description,
.corona-heading,
.corona-content-title {
  font-family: "Poppins", sans-serif;
}
.special-color {
  color: #ffad5a;
}

.btn-primary {
  border-radius: 5px;
  background: rgb(255, 89, 89);
  padding: 10px 32px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 500;
  border: none;
}

.display-flex {
  display: flex;
}

.dark-1 {
  color: rgb(66, 66, 66);
}

.dark-2 {
  color: rgb(62, 62, 62);
}

/* hero section style */
.hero-section {
  width: 78%;
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-border {
  border-left: 4px solid rgb(255, 89, 89);
  padding: 0 12px;
}

.hero-content h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: 60px;
}

.content-description {
  color: rgb(62, 62, 62);
  font-size: 1em;
  font-weight: 400;
  line-height: 28px;
  margin: 16px 0;
}

.under-btn {
  color: rgb(67, 67, 67);
  font-size: 1em;
  font-weight: 400;
  margin-top: 32px;
}

.hero-image {
  width: 40%;
}
.hero-image img {
  width: 100%;
}

/* my mission 2022 related styles */
.my-mission-container {
  width: 78%;
  max-width: 1128px;
  margin: 85px auto;
}

.my-mission-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(19, 16, 58);
  text-align: center;
}

.my-mission-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

.my-mission-card {
  padding: 25px 13px 40px 24px;
  margin-top: 48px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-mission-card h5 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 600;
}
.my-mission-card p {
  font-size: 0.9rem;
  font-weight: 400;
}
#color1 {
  background-color: rgba(79, 157, 166, 0.1);
}
#color2 {
  background-color: rgba(255, 89, 89, 0.1);
}
#color3 {
  background-color: rgb(255, 244, 214);
}

.my-mission-card img {
  width: 40%;
}

/* develop section related styles */

.develop-section {
  width: 78%;
  max-width: 1128px;
  margin: 85px auto;
  align-items: center;
  position: relative;
}

.develop-image > img {
  width: 80%;
  position: relative;
  z-index: 1;
}
.develop-image .shape-1 {
  width: 20%;
  position: absolute;
  left: -80px;
  top: 50px;
  z-index: 0;
}

.develop-title,
.community-title,
.corona-heading,
.corona-content-title {
  color: rgb(51, 51, 51);
  font-size: 2rem;
  font-weight: 700;
}

.develop-description,
.community-description,
.corona-content-description {
  color: rgb(62, 62, 62);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 18px 0;
}

/* community section related styles */

.community-section {
  width: 78%;
  max-width: 1128px;
  margin: 0 auto;
  align-items: center;
  gap: 100px;
  position: relative;
  margin-bottom: 84px;
}

.community-image img {
  width: 80%;
  position: relative;
  z-index: 1;
}
.community-image .shape {
  width: 18%;
  position: absolute;
  top: 245px;
  right: 18px;
  z-index: 0;
}

/* corona section related styles */
.corona-section {
  width: 78%;
  max-width: 1128px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.corona-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 80px;
}

.corona-content-title {
  font-size: 3rem;
  line-height: 60px;
}

.corona-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  gap: 0;
}

.corona-image .app-img {
  width: 60%;
  position: relative;
  z-index: 1;
}

.shape3 {
  width: 12%;
  position: absolute;
  left: -25px;
  top: -20px;
}

.shape4 {
  width: 8%;
  position: absolute;
  top: 355px;
  left: 235px;
}

.shape5 {
  width: 8%;
  position: absolute;
  bottom: 8px;
  left: 2px;
}

/* footer section related styles */

.foot-section {
  background-color: rgb(11, 13, 23);
  text-align: center;
  padding: 40px 0;
}
.foot-title {
  color: rgb(255, 255, 255);
  font-family: Lobster;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.special {
  color: rgb(255, 89, 89);
  font-family: Lobster;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.foot-description {
  color: rgb(217, 219, 225);
  font-size: 14px;
}

/* responsive specifically for hero section */
@media screen and (min-width: 0px) and (max-width: 890px) {
  .hero-section {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .hero-image {
    width: 100%;
  }
  #left-border {
    border: none;
  }
  .hero-content h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
  }
  #left-border {
    padding: 0;
  }
  .content-description {
    color: rgb(62, 62, 62);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 16px 0;
  }
  .under-btn {
    color: rgb(67, 67, 67);
    font-size: 14px;
    font-weight: 400;
    margin-top: 32px;
  }
}

/* responsive for small devices */
@media screen and (max-width: 576px) {
  /* my mission */
  .my-mission-card-container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  /* develop */
  .develop-section {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .shape-1,
  .shape,
  .shape3,
  .shape4,
  .shape5 {
    display: none;
  }

  .develop-image > img {
    width: 100%;
  }

  /* community */
  .community-section {
    flex-direction: column-reverse;
    gap: 24px;
    text-align: center;
  }

  .community-image img {
    width: 100%;
  }

  /* corona */
  .corona-container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .corona-image .app-img {
    width: 100%;
  }

  .corona-content-title,
  .corona-heading {
    font-size: 2rem;
    line-height: 50px;
  }

  .corona-heading {
    margin: 12px 0px;
  }
}

/* responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* my mission */
  .my-mission-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* develop */
  .shape-1,
  .shape,
  .shape3,
  .shape4,
  .shape5 {
    display: none;
  }
  .develop-image > img {
    width: 100%;
  }
  .develop-section {
    gap: 24px;
  }

  /* community */
  .community-section {
    gap: 32px;
  }
  .community-image img {
    width: 100%;
  }

  /* corona */

  .corona-container {
    gap: 24px;
  }
  .corona-image .app-img {
    width: 100%;
  }
  .corona-content-title,
  .corona-heading {
    font-size: 2rem;
    line-height: 50px;
  }
}
